@import "../../css-config/mixins.scss";

.main-header{
    width: 100%;
    padding: 0 20px;
    background: #212121;
    color: #fff;
    border-bottom: 1px solid rgba(0,0,0,0.1);
    z-index: 99;
    // including media query
    @include md{
        // background: #eee000;
        padding: 0 40px;
    }
    
    .header-content{
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 50px;
        max-width: 1200px;
        margin: 0 auto;
        @include md{
            height: 80px;
        }
        .left{
            display: none;
            gap: 25px;
            list-style: none;
            @include md{
                display: flex;
            }
            li{
                font-size: 14px;
                font-weight: 600;
                text-transform: uppercase;
                cursor:pointer;
                transition: color 300ms ease;
            }
        }
        ul li:hover{
            color: lightgrey;
        }
        .center{
            font-size: 22px;
            font-weight: 700;
            cursor: pointer;
            @include md{
                position: absolute;
                font-size: 34px;
                left: 50%;
                transform: translateX(-50%);
            }
        }
        .right{
            display: flex;
            gap:20px;
            align-items: center;
            @include md{
                gap:25px;
            }

            svg{
                font-size: 20px;
                cursor: pointer;
                @include md{
                    font-size: 24px;
                }
            }
            .cart-icon{
                position: relative;
                
                span{
                    text-align: center;
                    min-width: 20px;
                    background: #33efff;
                    padding: 2.5px;
                    position: absolute;
                    top: -5px;
                    right: -12px;
                    font-size: 12px;
                    line-height: 1;
                    border-radius: 10px;
                    animation: color 2s infinite;
                }

            }
    }
}
&.sticky-header{
    position: sticky;
    top: 0;
    animation: stickyHeader 0.3s ease forwards;
    transform: translateY(-80px);
}
}
@keyframes stickyHeader{
    0%{
        transform: translateY(-80px);
    }
    100%{
        transform: translateY(0);
    }
}
@keyframes color {
    50%{
        background: #888eee;
    }
    100%{
        background: lime;
    }
}